body {
    margin: 0; 
    padding: 0; 
}


main {
    margin-top: 60px; 
}


.background-section {
    background-image: url('https://i.imgur.com/3kij9fX.png');
    background-size: cover; 
    background-position: center;
    border: none; 
    width: 100%;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: black;
    font-family: 'Bacasime Antique', 'Times New Roman';
    text-align: center;
    margin-top: -80px;
}


footer {
    background-color: #EFDCC8; 
    color: black;
    font-family: 'Bacasime Antique', 'Times New Roman';
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    margin-top: 0; 
}

.footer-text {
    margin-bottom: 5px; 
}

.social-media img {
    width: 250px; 
    height: 40px;
    display: block; 
    margin: 0 auto; 
}

.social-media a {
    text-decoration: none; 
}

#demo {
    font-size: 18px;
    text-align: center;
    color: black;
    margin: 60px 0 0 0; /* Adjust to 70px or higher to clear the fixed navbar */
    padding: 0; /* Ensure no extra padding */
    background-color: #D88682; /* Optional */
    line-height: 1.8; /* Adjust line height */
    position: relative; /* Add this */
    z-index: 1;
}
